body{
	background-color: lightblue;
}

h1{
	text-align: center;
	width: 30%;
	margin: 0 auto;
}

#title{
	text-decoration: underline;
}

#restart{
	display: block;
	visibility: hidden;
	margin: -5px;
}

#instructions{
	text-align: center;
	margin: 2px;
}

table{
	margin: 0 auto;
}

table tr td{
	border: 1px solid black;
}


footer p{
	text-align: center;
}


@media screen and (min-width: 550px){
	table tr td button{
		width: 150px;
		height:150px;
		font-size: 7em;
	}
}

@media screen and (max-width: 549px){
	table tr td button{
		width: 90px;
		height: 90px;
		font-size: 4em;
	}
	
	h1{
		font-size: 1em;
	}
}
